Django
djangorestframework
django-allauth
django-crispy-forms
django-import-export
crispy-bootstrap5
Pillow
python-dotenv
psycopg2
django-filter
gunicorn
whitenoise
requests
django-cors-headers
django-jazzmin
xhtml2pdf
google-generativeai
django-ckeditor
shortuuid
openpyxl
matplotlib
django-mathfilters
