{% extends 'partials/base.html' %}
{% load static %}

{% block content %}


        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb py-5">
            <div class="container text-center py-5">
                <h3 class="text-white display-3 mb-4">About Us</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'saloon:index'%}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active text-white">About Us</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->


        
        <!-- About Start -->
        <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="video">
                            <img src="{% static 'img/about-1.jpg'%}" class="img-fluid rounded" alt="">
                            <div class="position-absolute rounded border-5 border-top border-start border-white" style="bottom: 0; right: 0;;">
                                <img src="{% static 'img/about-2.jpg'%}" class="img-fluid rounded" alt="">
                            </div>
                            <button type="button" class="btn btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <p class="fs-4 text-uppercase text-primary">About Us</p>
                        <h1 class="display-4 mb-4">Your Best  Beauty & Skin Care Center</h1>
                        <p class="mb-4">Welcome to Velvet Touch, where beauty meets relaxation.</p> 
                        <p>As the leading beauty and skin care center, we are dedicated to providing you with an exceptional experience that nurtures both your inner and outer beauty. Our expert team of professionals offers a wide range of services, from luxurious hair treatments to rejuvenating facials, precise waxing, creative nail art, and more.</p>
                            
                        <div class="row g-4">
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <i class="fab fa-gitkraken fa-3x text-primary"></i>
                                    <div class="ms-4">
                                        <h5 class="mb-2">Special Offers</h5>
                                        <p class="mb-0">Get Glowing This Season with Our Exclusive Package!
                                            For a limited time, enjoy our Glow & Relax Package that includes:
                                            Haircut & Styling
                                            Hydrating Facial</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-gift fa-3x text-primary"></i>
                                    <div class="ms-4">
                                        <h5 class="mb-2">Special Offers</h5>
                                        <p class="mb-0">All for a 20% discount off the regular price!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="my-4"> We use only the highest quality products and the latest techniques to ensure you look and feel your best. Whether you're here for a quick touch-up or a full day of pampering, we strive to make every visit an unforgettable experience. </p>
                        </p>
                        <p class="mb-4">Come and indulge in a serene atmosphere, where you can unwind and leave feeling rejuvenated, confident, and radiant. Your beauty is our priority, and we are here to bring out the best version of you.</p>
                        </p>
                   
                    </div> 
                </div>
            </div>
        </div>
        <!-- Modal Video -->
        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-16x9">
                            <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                                allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

{% endblock content %}